body {
    align-content: center;
    text-align: center;
}

.ColorText {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#ScoreArea {
    font-size: larger;
}

#PointsAvailable {
    font-size: medium;
    color: gray;
}
